# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Evan McKinney Homepage
repository: evmckinney9/evmckinney9.github.io
description: >- # this means to ignore newlines until "baseurl:"
  Evan McKinney's personal homepage, a PhD student at the University of Pittsburgh. 
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://evm9.dev" # the base hostname & protocol for your site, e.g. http://example.com
google_analytics: G-0S6658MQKV

# Build settings
theme: jekyll-theme-minimal

plugins:
  - jekyll-gist
  - jekyll-coffeescript
  - jekyll-seo-tag

# Front Matter Defaults
# https://jekyllrb.com/docs/configuration/front-matter-defaults/
defaults:
  - scope:
      path: ""
    values:
      author: Evan McKinney
      image: /assets/img/banners/banner2.png

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
